<option value="">-- Chagua njia ya malipo --</option>
<option value="mixx_yas" class="pay-opt pay-opt--mobile">Mixx by Yas</option>
<option value="mpesa" class="pay-opt pay-opt--mobile">M-PESA</option>
<option value="halopesa" class="pay-opt pay-opt--mobile">HALOPESA</option>
<option value="airtel_money" class="pay-opt pay-opt--mobile">AIRTEL MONEY</option>
<option value="selcom_pesa" class="pay-opt pay-opt--mobile">SELCOM PESA</option>
<option value="nmb" class="pay-opt pay-opt--bank">NMB</option>
<option value="crdb" class="pay-opt pay-opt--bank">CRDB</option>
<option value="other" class="pay-opt pay-opt--other">OTHERS</option>
